/* App.css */

/* App.css */

body, html {
    height: 100%;
    margin: 0;
  }
  .up-app-container{
    display: flex;
    height: 100vh;
  }
  .up-left-section {
    flex: 0; /* Adjust the flex property for the left section */
    padding: 20px;
    border: 1px solid #ddd;
    width: 250px;
    height: 100vh;
    background: rgba(212, 183, 139, 0.62);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .up-back_logo{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  }
  .up-back-icon {
    margin-right: 18px;
  }
  .up-logo {
    font-family: Goblin One;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-top: 10%;
  }
  .Brown {
    color: #BB7C1E;
    text-decoration: none;
  }


  .user-menu:hover {
    background-color: #BB7C1E;
  }
 .user-list {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  padding-top: 100px;
  }
  .user-list a{
      padding: 10px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      display: block;
  }
  .user-menu {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    color: black;
  }
.user-menu::after {
    content: '';
    display: block;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }


  .user-footer {
    text-align: center;
    background: none;
  }
  
  .user-footer p {
    margin: 5px 0;
  }
  


  
.up-right-section {
    flex: 2;
    padding: 20px;
    border: 1px solid #ddd;
    background-image: url('../../assets/profilebg.png'); /* Add the path to your image */
    background-size: cover;
    background-position: center;
    color: white; /* Set text color to white or any other contrasting color */
  }
  .up-profile{
    color: black;
    font-family: Gurajada;
    font-size: 500%;
    margin-bottom: 0%;
    margin-top: 0%;
}
.up-blur-container {
    background:rgba(212, 183, 139, 0.62);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
    width: 70%;
    height: 60%;
    margin-left: 15%;
  }



.upass-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background:none;
}
  
.upass-div {
    margin-bottom: 15px;
}
  
.upass-label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
  
.upass-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .upass-button {
    background-color: #BB7C1E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15%;
  }
  
  .upass-button:hover {
    background-color: rgba(83, 57, 19, 0.62);
  }
 
    