/* App.css */

/* App.css */

body, html {
    height: 100%;
    margin: 0;
  }
  
  .user-app-container{
    display: flex;
    height: 100vh;
  }
  

  .user-boldness{
    background-color: #BB7C1E;
    font-weight: bolder;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    color: black;
    
  }
  .user-boldness::after {
    content: '';
    display: block;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
.user-right-section {
    flex: 2;
    padding: 20px;
    border: 1px solid #ddd;
    background-image: url('../../assets/profilebg.png'); /* Add the path to your image */
    background-size: cover;
    background-position: center;
    color: white; /* Set text color to white or any other contrasting color */
  }
  
/* Sidebar.css */
.user-Brown {
    color: #BB7C1E;
    text-decoration: none;
  }
.user-menu:hover {
    background-color: #BB7C1E;
  }
 .user-list {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  padding-top: 100px;
  }
  .user-list a{
      padding: 10px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      display: block;
  
  }
  
  .user-menu {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    color: black;
  }
  
.user-menu::after {
    content: '';
    display: block;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

.user-left-section {
  flex: 0; /* Adjust the flex property for the left section */
  
    border: 1px solid #ddd;
    background: rgba(212, 183, 139, 0.62);
    width: 250px;
  height: 100vh;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure footer is at the bottom */
  }
  
  .user-logo {
    font-family: Goblin One;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-top: 10%;
  }
  .user-back_logo{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  }
  .user-back-icon {
    margin-right: 18px;
  }
  
  
  .user-footer {
    text-align: center;
    background: none;
  }
  
  .user-footer p {
    margin: 5px 0;
    color: black;
  }

.user-blur-container {
    background: white;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
    height: auto;
    width: 80%;
    height: 70%;
    margin-left: 10%;
    
  }
  .user-upper-section{
    background-color: rgba(212, 183, 139, 0.62);
  }
  
  .user-divider {
    border-left: 1px solid #ddd; /* Adjust the color and style of the line */
    height: 150px; /* Set the height to match the user image */
    margin: 0 20px; /* Adjust the margin for spacing */
  }
.user-profile{
    color: black;
    font-family: Gurajada;
    font-size: 500%;
    margin-bottom: 0%;
    margin-top: 0%;
}
.user-us{
    font-family: Gurajada;
    font-size: 200%;
}
/* UserProfile.css */

.user-user-profile {
    display: flex;
    align-items: center;
    margin-left: 20%;
  }
  
  .user-user-image {
    margin-right: 20px;
  }
  
  .user-user-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-user-details {
    max-width: 400px;
  }
  
  .user-user-details h2 {
    margin-bottom: 10px;
  }
.user-details{
    color: black;
}  
  
 
    