.AppHeading{
    color: white;
    font-family: 'Gurajada;',serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}
.brown{
    color:#BB7C1E;
}
.info{
    margin-left: 29%;
    margin-right: 20%;
}
.footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .footer div {
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .social-icons img {
    width: 30px; /* Adjust the size of social icons as needed */
    height: 30px;
    margin: 0 5px;
  }
  